/jprelude-dataexport/target/
/jprelude-dataexport/.idea/
/jprelude-dataexport/.netbeans/

/webui/bin/
/webui/.cache/
/webui/.classpath/
/webui/.project/
/webui/.idea/
/webui/target/

/youi/.idea/
/youi/target/
